# to protect config.php
<Files config.php>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.+[^/])/$ http://%{HTTP_HOST}/$1 [R=301,L]
RewriteRule ^([a-zA-Z0-9_]+)(/?)$ /bbs/board.php?bo_table=$1 [QSA]
RewriteRule ^([a-zA-Z0-9_]+)/([0-9]+)$ /bbs/board.php?bo_table=$1&wr_id=$2 [QSA]
</IfModule>