.navbar .navbar-brand {
height: 45px;
padding: 0;
margin-left: auto;
margin-right: auto;
float:none;
}

@media (max-width: 768px) {
    .form-inline .radio, .form-inline .checkbox.custom { margin-top: 0; margin-bottom: 0; }
}