#uploadWindow {
    display: none;
}

.clear { clear: both; }

#container {
	padding: 8px;
    font-family: Malgun Gothic,gulim,tahoma,helvetica;
}

#imageListWrapper {
	background-color: #fff;
	border:1px #aaa solid;
    border-radius:4px;
    box-shadow: 0 0 3px #aaa;
	position: absolute;
    height: 300px;
    /*overflow-y: scroll;*/
}
#imageInfoBox {
	padding: 7px;
	border:1px #c5c5cc solid;
    border-radius:4px;
    position:absolute;
	left:545px;
    width: 200px;
}
.button {
	width: 77px;
	height: 22px;
	cursor: pointer;
	vertical-align: middle;
}
.imageBox, .imageBoxHighlighted {
	width: 124px;
	height: 94px;
	margin: 3px;
	float:left;
}
.imageBox_theImage,.imageBox_theImage_over {
	width:100%;
	height:100%;
}
.imageBox .imageBox_theImage{
	border: 1px solid #ddd;
    /*order-radius:2px;*/
	background-image: url('../icons/dot.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
.imageBox .imageBox_theImage_over {
	border: 1px solid #000;
    border-radius:2px;
	background-image: url('../icons/dot.gif');
	background-position: center center;
	background-repeat: no-repeat;
}
.imageBoxHighlighted .imageBox_theImage {
	border: 1px solid #ff6600;
    border-radius:2px;
}
.imageBoxHighlighted .imageBox_theImage_over {
	border: 1px solid #ff6600;
    border-radius:2px;
	background-image: url('../icons/dot.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

#removeImage {
	display: none;
	width: 28px;
	height: 16px;
	position:absolute;
	cursor: pointer;
	z-index: 100;
}

#insertionMarker {
	height:102px;
	width:6px;
	position:absolute;
	display:none;
}
	
#insertionMarkerLine {
	width:6px;
	height:100px;
}
#insertionMarker img {
	float:left;
}
	
#dragDropContent{
	position:absolute;
	z-index:10;
	display:none;
}

body {
	margin: 0px;
	border: none;
	padding: 0px;
	overflow: hidden;
}