a.cheditor-tag-path-elem {
    text-decoration:none;
    color:#0033cc;
    font-size: 8pt;
    font-family: Malgun Gothic,dotum,tahoma,helvetica;
    cursor:pointer;
}
a.cheditor-tag-path-elem:hover {
    color:#0033cc;
    text-decoration:underline;
    cursor:pointer;
}
.cheditor-container {
    border-top: 1px #ccc solid;
    position: relative;
    text-align: left;
}
.cheditor-tb-wrapper {
    border-right:1px #ccc solid;
    border-left:1px #ccc solid;
    border-bottom:1px #ccc solid;
    position: relative;
    display: block;
    background-color: #f0f0f0;
}
.cheditor-tb-wrapper div {
    display: "";
}
.cheditor-tb-wrapper-readonly {
    border-right:1px #ccc solid;
    border-left:1px #ccc solid;
    border-bottom:1px #ccc solid;
    position: relative;
    display: block;
    background: #f0f0f0 url(../icons/readonlymode.png) no-repeat 10px center;
}
.cheditor-tb-wrapper-code {
    border-right:1px #ccc solid;
    border-left:1px #ccc solid;
    border-bottom:1px #ccc solid;
    position: relative;
    display: block;
    background: #f0f0f0 url(../icons/viewmode_code.png) no-repeat 10px center;
}
.cheditor-tb-wrapper-preview {
    border-right:1px #ccc solid;
    border-left:1px #ccc solid;
    border-bottom:1px #ccc solid;
    position: relative;
    display: block;
    background: #f0f0f0 url(../icons/viewmode_preview.png) no-repeat 10px center;
}
.cheditor-tb-wrapper-readonly div, .cheditor-tb-wrapper-code div, .cheditor-tb-wrapper-preview div {
    display: none;
}
.cheditor-tb-fullscreen {
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    background: transparent url(../icons/fullscreen.png) no-repeat center center;
}
.cheditor-tb-fullscreen-disable {
    display: none;
}
.cheditor-tb-fullscreen-actual {
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    background: transparent url(../icons/fullscreen_actual.png) no-repeat center center;
}
.cheditor-editarea-wrapper {
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    vertical-align: top;
}
.cheditor-editarea {
    width:100%;
    overflow:auto;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}
.cheditor-modify-block .cheditor-ico {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.cheditor-modify-block select {
    font-size: 9pt;
    color: #000;
}
.cheditor-modify-block div {
    padding: 5px 10px 5px 10px;
    color: #000;
    display: block;
}
.cheditor-modify-block div .wrap-text-desc {
    line-height: 1em;
    color: #000;
}
.cheditor-modify-block div .user-input-alt {
    width: 120px;
    margin: 3px 10px 0px 5px;
    font-size: 9pt;
    color: #000;
}
.cheditor-modify-block div .user-input-caption {
    width: 250px;
    margin: 3px 0px 0px 5px;
    font-size: 9pt;
    color: #000;
}
.cheditor-modify-block div .wrap-checked {
    vertical-align: middle;
    padding: 0px;
    margin-right: 2px;
}
.cheditor-modify-block div .input-submit {
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 10px;
    height:20px;
    width:64px;
}
.cheditor-modify-block div .color-picker {
    cursor: pointer;
    vertical-align: middle;
    height:20px;
    width:20px;
}
.cheditor-modify-block div .delete-submit {
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 3px;
    height:20px;
    width:64px;
}
.cheditor-modify-block div .edit-table-ico {
    cursor: pointer;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 0px 3px;
}
.cheditor-modify-block {
    display:none;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    padding:2px;
    background-color:#eee;
    font-size:9pt;
    font-family: Malgun Gothic,gulim,tahoma,helvetica;
    text-align:center;
}
.cheditor-status-bar {
    font-size:8pt;
    font-family: Malgun Gothic,dotum,tahoma,helvetica;
    color:#333;
}
.cheditor-tag-path {
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    padding: 0px 2px 0px 2px;
    display: none;
    height: 18px;
    line-height:18px;
    overflow: hidden;
}
.cheditor-viewmode {
    padding: 0px 4px 0px 4px;
    height: 16px;
    background: transparent url(../icons/statusbar_bgline.gif) repeat-x 0 0;
}
.cheditor-viewmode div {
    width: 24px;
    height: 16px;
    cursor: pointer;
}
.cheditor-tab-rich {
    background: transparent url(../icons/edit_mode_rich_a.png) no-repeat 0 0;
    float: left;
}
.cheditor-tab-rich-off {
    background: transparent url(../icons/edit_mode_rich_b.png) no-repeat 0 0;
    float: left;
}
.cheditor-tab-code {
    background: transparent url(../icons/edit_mode_code_a.png) no-repeat 0 0;
    float: left;
}
.cheditor-tab-code-off {
    background: transparent url(../icons/edit_mode_code_b.png) no-repeat 0 0;
    float: left;
}
.cheditor-tab-preview {
    background: transparent url(../icons/edit_mode_view_a.png) no-repeat 0 0;
    float: left;
}
.cheditor-tab-preview-off {
    background: transparent url(../icons/edit_mode_view_b.png) no-repeat 0 0;
    float: left;
}
.cheditor-resizebar {
    height: 11px;
    overflow:hidden;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    cursor:s-resize;
    background: #eee url(../icons/splitter.gif) no-repeat center top;
}
.cheditor-resizebar-off {
    height: 11px;
    overflow:hidden;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    cursor: default;
    background-color: #eee;
}
.cheditor_mode_icon { width: 24px; height: 16px; cursor: pointer; vertical-align:top }
.cheditor-popup-title { font-size: 9pt; font-family:Malgun Gothic,gulim; font-weight:bold; color:#fff; }
.cheditor-popup-cframe {
    margin: 11px 10px;
    padding: 0px;
    border: none;
    text-align: center;
}
.cheditor-popup-cframe iframe {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.cheditor-pulldown-container {
    border:#aaa 1px solid;
    background-color:#fff;
    padding:1px;
    position: relative;
    -moz-box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 1px 1px 10px #bbb;
}
.cheditor-pulldown-container div {
    padding: 2px 2px 2px 15px;
    font-size: 9pt;
    font-family: "Malgun Gothic",gulim,tahoma,helvetica;
    color: #222;
    position: relative;
    display: block;
    line-height: 1.2;
    margin: 2px 2px;
}
.cheditor-pulldown-color-container {
    border:#aaa 1px solid;
    -moz-box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 1px 1px 10px #bbb;
    background-color:#fff;
    padding:2px;
}
.cheditor-pulldown-container div label, .cheditor-pulldown-textblock-container div label {
    display: block;
}
/*
.cheditor-pulldown-container div:after,.cheditor-pulldown-container div:before {
    content: '';
    clear: both;
}
*/
.cheditor-pulldown-textblock-container div div {
    text-align: center;
    padding: 2px;
    font-size: 9pt;
    color: #000;
    line-height: 1.2;
}
.cheditor-pulldown-textblock-container div {
    padding: 1px;
}
.cheditor-pulldown-textblock-out {
    border: #fff 1px solid;
}
.cheditor-pulldown-textblock-over {
    border: #ccc 1px solid;
}
.cheditor-pulldown-textblock-container {
    border:#aaa 1px solid;
    -moz-box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 1px 1px 10px #bbb;
    background-color:#fff;
    padding:2px;
}
.cheditor-pulldown-mouseout {
    border: #fff 1px solid;
}
.cheditor-pulldown-mouseover {
    background-color: #f0f0f0;
    border: #e0e0e0 1px solid;
}
.cheditor-pulldown-frame {
    position:absolute;
    visibility:hidden;
    z-index: -1;
    width:1px;
    height:1px;
    line-height:12px;
}
.cheditor-pulldown-color-cell-over, .cheditor-pulldown-color-cell {
    float: left;
    width: 14px;
    height: 14px;
    margin: 1px;
    cursor: pointer;
}
.cheditor-pulldown-color-cell-over {
    border: 1px #000 solid;
}
.cheditor-pulldown-color-cell-over span {
    width: 12px;
    height: 12px;
    border: 1px #fff solid;
    display: block;
}
.cheditor-pulldown-color-cell {
    border: 1px #999 solid;
}
.cheditor-pulldown-color-cell span {
    width: 14px;
    height: 14px;
    display: block;
    border: none;
}

.cheditor-pulldown-color-selected {
    border: 1px solid #999;
    text-align: left;
    margin: 4px 0px 0px 1px;
    padding-left: 5px;
    height: 14.5px;
    line-height: 13px;
    font-size: 11px;
    font-family: verdana;
    width: 55px;
}
.cheditor-pulldown-color-reset, .cheditor-pulldown-color-show-picker {
    height: 19px;
    width: 16px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 3px;
}
.cheditor-pulldown-color-reset {
    background: #fff url(../icons/color_picker_reset.png) no-repeat center center;
}
.cheditor-pulldown-color-show-picker {
    background: #fff url(../icons/color_picker.png) no-repeat center center;
}
.cheditor-pulldown-color-submit {
    vertical-align: middle;
    margin: 4px 1px 0px 0px;
    height: 19px;
    width: 40px;
    cursor: pointer;
    right: 0px;
    position: absolute;
}
.cheditor-container-fullscreen {
    position: fixed;
    left: 0;
	top: 0;
	_position: absolute;
    z-index: 1000;
    text-align: left;
    background-color: #fff;
}
.cheditor-popupModalBackground {
	background-color: #efefef;
    position: fixed;
    _position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}
.cheditor-popup-window {
    border:1px solid #6c6f70;
    border-radius:4px;
    display:none;
    position: absolute;
    background-color:#f0f0f0;
    top: 0;
    left: 0;
    -moz-box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 10px #aaa;
    padding: 0;
    overflow: hidden;
}
.cheditor-popup-drag-handle {
    height:27px;
    background-color:#6c6f70;
}
.cheditor-popup-titlebar {
    padding: 0px 0px 0px 7px !important;
    line-height: 1.4;
}
.cheditor-dragWindowTransparent { background-color: #fff; position: absolute; display: block; left:0px; top: 27px; }
.cheditor-pulldown-wrapper {line-height: 1; }
.cheditor-toolbar-icon-wrapper {
    margin: 0px 2px 0px 0px;
    float: left;
    height: 24px;
    overflow: hidden;
}
.cheditor-tb-icon {
    height: 22px;
    width: 16px;
    overflow: hidden;
}
.cheditor-tb-icon-disable {
    height: 22px;
    width: 16px;
    overflow: hidden;
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: alpha(opacity=40) gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.4;
}
.cheditor-tb-text {
    padding: 0px;
    margin: 0px;
    color: #333;
    height: 20px;
    line-height: 20px;
}
.cheditor-tb-text-disable {
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    color: #333;
    overflow: hidden;
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: alpha(opacity=40) gray;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.4;
}
.cheditor-tb-text span, .cheditor-tb-text-disable span {
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", gulim, tahoma, helvetica;
    margin: 0px 0px 0px 1px;
    padding: 0px;
    width: 41px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 12px;
}
.cheditor-tb-icon23 {
    height: 22px;
    width: 23px;
    margin-left: 3px;
    overflow: hidden;
}
.cheditor-tb-icon23-disable {
    height: 22px;
    width: 23px;
    margin-left: 3px;
    overflow: hidden;
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: alpha(opacity=40) gray;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.4;
}
.cheditor-tb-icon36 {
    height: 22px;
    width: 36px;
    overflow: hidden;
}
.cheditor-tb-icon36-disable {
    height: 22px;
    width: 36px;
    overflow: hidden;
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: alpha(opacity=40) gray;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.4;
}
.cheditor-tb-combo {
    height: 22px;
    width: 10px;
    overflow: hidden;
}
.cheditor-tb-combo-disable {
    height: 22px;
    width: 10px;
    overflow: hidden;
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: alpha(opacity=40) gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.4;
}
.cheditor-tb-bg55 {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -483px;
    position: relative;
}
.cheditor-tb-bg40 {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -552px;
    position: relative;
}
.cheditor-tb-bg44 {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -621px;
    position: relative;
}
.cheditor-tb-bg30-first {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -276px;
    position: relative;
}
.cheditor-tb-bg30 {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -345px;
    position: relative;
}
.cheditor-tb-bg30-last {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -414px;
    position: relative;
}
.cheditor-tb-bgcombo {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -690px;
    position: relative;
}
.cheditor-tb-bgcombo-first {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left top;
    position: relative;
}
.cheditor-tb-bgcombo-last {
    float: left;
    overflow: hidden;
    background: url(../icons/toolbar-background.png) no-repeat left -759px;
    position: relative;
}
.cheditor-tb-bg {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -69px;
    position: relative;
}
.cheditor-tb-bg-first {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left top;
    position: relative;
}
.cheditor-tb-bg-last {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -138px;
    position: relative;
}
.cheditor-tb-bg-single {
    float: left;
    overflow: hidden;
    background: transparent url(../icons/toolbar-background.png) no-repeat left -207px;
    position: relative;
}
.cheditor-tb-color-btn {
	width: 16px;
	height: 3px;
	overflow: hidden;
	position: absolute;
	top: 16px;
	left: 3px;
}
.cheditor-tb-button-spacer {
    overflow: hidden;
    width: 4px;
    height: 4px;
    float: left;
}
.cheditor-tb-split {
	overflow: hidden;
    height: 2px;
    width: 3px;
    clear: both;
}