<style type="text/css">
<!--
.style5 {
	color: #333333;
	font-weight: bold;
}
.style6 {color: #f36823}
.style7 {color: #0c4473}
.style8 {
	font-size: 11px;
	color: #444444;
}
.style9 {color: #0a4fa3}
.style10 {color: #666666;font-weight: bold}

img {border:0px;}
a img{color:#FFFFFF !important;} 
-->
</style>